{# layout_1 #}
{% extends "base.html" %}
{% block head %}{% endblock head %}
    {% block content %}
    <section class="grid-x">
      <nav class=" cell small-12 medium-6 large-3 column">
        {% block navigator %}
        <ul><li>nav1</li><li>nav2</li><li>nav3</li><li>nav4</li><li>nav5</li></ul>
        {% endblock navigator %}
      </nav>
      
      <article class="cell small-12 medium-6  large-9 column">
        {% block article %}
        <h3>Zweitrag</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit ame</p>
        {% endblock article %}
      </article>

    </section> 
    {% endblock content %}
