<!doctype html>
<html class="no-js" lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenüTest</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <h1>Menü Test mit Foundation 6 for Sites</h1>
      </div>
    </div>
    <div class="row small uncollapse medium-collapse">
      <div class="small-4 medium-3 columns"> 
        <ul class=" menu vertical" data-responsive-menu="drilldown medium-accordion">
          <li><a href="#">Korbblütler</a>
            <ul class="menu vertical nested">
              <li><a href="#">Artischoke</a></li>
              <li><a href="#">Topinambur</a></li>
              <li><a href="#">Endivie</a></li>
              <li><a href="#">Salate</a></li>
                <ul class="menu vertical nested">
                  <li><a href="#">Eichblatt grün</a></li>
                  <li><a href="#">Eichblatt rot</a></li>
                  <li><a href="#">Kopfsalat grün</a></li>
                  <li><a href="#">Kopfsalat rot</a></li>
                  <li><a href="#">Batavia grün</a></li>
                  <li><a href="#">Batavia rot</a></li>
                </ul>
              <li><a href="#">KorbblüteX</a></li>    
              <li><a href="#">KorbblüteXX</a></li>
            </ul>
          </li><!--Korbblütler-->
          <li><a href="#">Kreuzblütler</a>
            <ul class="menu vertical nested">
              <li><a href="#">Rotkohl</a></li>
              <li><a href="#">Weißkohl</a></li>
              <li><a href="#">Grünkohl</a></li>
              <li><a href="#">Wirsingkohl</a></li>
              <li><a href="#">Rettich</a></li>
              <li><a href="#">Kohlrabi</a></li>
              <li><a href="#">Chinakohl</a></li>
            </ul>
          </li>  
        </ul><!--menu-->  
      </div>
      <div class="small-8 medium-9 columns">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
    </div><!--row-->           
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
